[color]
	ui = true
[user]
	name = Yura Bregey
	email = bregey@gmail.com
[alias]
    s = status
    c = commit
    go = checkout
    new = checkout -b
    amend = commit --amend
    get = pull --rebase
    kill = branch -D
    unstage = reset HEAD --
    force = push -uf origin
    last = log -1 HEAD
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold gre$
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %$
    lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ci = commit
    last = log -1 HEAD
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    up = pull --rebase --prune
    wip = commit -am \"WIP\"
    save = git add --all && git commit -m \"SAVEPOINT\"
    force = git push -uf origin
    unstage = reset HEAD --
[core]
    editor = vim
[push]
    default = simple
	ff = only
[pull]
	ff = only
[merge]
	ff = false
